@import url("https://rsms.me/inter/inter.css");

@tailwind base;

:root {
  @apply scroll-smooth font-display antialiased;
}

html {
  @apply bg-white;
  scrollbar-color: #00000080 transparent;
  scrollbar-width: auto;
}

html[class*="dark"] {
  @apply bg-gray-900;
  scrollbar-color: #ffffffb3 transparent;
  scrollbar-width: auto;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-black/50 dark:bg-white/70;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-black/60 dark:hover:bg-white/80;
}

button {
  /* Disables tap highlight color on Chrome */
  -webkit-tap-highlight-color: transparent;
}

/* Input darkmode fix for checkbox / radio */
.dark [type="checkbox"]:checked,
.dark [type="radio"]:checked {
  background-color: currentColor;
}

@tailwind components;
@tailwind utilities;
