@import url("https://rsms.me/inter/inter.css");

@tailwind base;

:root {
  @apply antialiased font-display scroll-smooth;
}

button {
  /* Disables tap highlight color on Chrome */
  -webkit-tap-highlight-color: transparent;
}

html {
  @apply bg-white;
  scrollbar-color: #6b7280 transparent;
  scrollbar-width: auto;
}

html[class*="dark"] {
  @apply bg-gray-900;
  scrollbar-color: #9ca3af transparent;
  scrollbar-width: auto;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-full dark:bg-gray-400;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:hover:bg-gray-300;
}

@tailwind components;
@tailwind utilities;
